.footer{
    background-color: $VeryDarkViolet;
    padding: 50px 0;
    &__container{
        width: Min(90%, 1200px);
        margin-inline: auto;
        display: flex;
        svg{
            cursor: pointer;
        }

        
    }
    &__element{
        width: 70%;
        margin-left: auto;
        display: flex;
        justify-content: space-between;

        ul{
            li{
                color: $GrayishViolet;
                font-size: 0.9rem;
                &:hover{
                    color: rgb(0, 204, 255);
                    cursor: pointer;
                }
            }
            .footer__element--colors{
                color: white;
                font-weight: $fontMedium;
                margin-bottom: 10px;
                
                &:hover{
                    color: white;
                }
            }

        }
        &__resaux{
            width: 150px;
            display: flex;
            justify-content: space-between;
            svg{
                cursor: pointer;
                &:hover > path{
                    fill: rgb(0, 204, 255);
                }
            }
        }
    }
    

}

// media query

@media screen and (max-width: 850px) {
    .footer{
        &__container{
            flex-direction: column;
            @include flexbox;
            svg{
                margin-top: 20px;
            }
        }
        &__element{
            width: 100%;
            flex-direction: column;
            @include flexbox;
            text-align: center;
            ul:nth-child(1){
                margin-top: 60px;
            }
            ul:nth-child(2){
                margin: 30px 0;
            }
            &__resaux{
                width: 180px;
                margin-top: 30px;
            }
        }
    }
}