*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: $fontFamily;
}

@media screen and (max-width: 850px) {
    html{
        font-size: 14px;
    }
}

@media screen and (max-width: 490px) {
    html{
        font-size: 13px;
    }
}